@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('./assets/fonts/Lato-Black.woff2') format('woff2'), 
         url('./assets/fonts/Lato-Black.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('./assets/fonts/Lato-Bold.woff2') format('woff2'), 
         url('./assets/fonts/Lato-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('./assets/fonts/Lato-Regular.woff2') format('woff2'), 
         url('./assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: local('Lato Medium'), local('Lato-Medium'),
         url('./assets/fonts/Lato-Medium.woff2') format('woff2'), 
         url('./assets/fonts/Lato-Medium.woff') format('woff');
}

body {
    margin: 0 auto;
    width: 1020px;
}

.wrapper {
    width: 1020px;
}

.portfolio {
    height: 784px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 40px;
}

.portfolio_text h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.01em;
    margin: 32px 0px 26px 0px;
}

.portfolio_text p {

    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.018em;
    margin: 26px 0px 9px 0px;
}

.tags ul li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.tags ul li:first-child a {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0px 7px 0px 7px;
    margin: 0px 4px 0px 0px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

.tags ul li a {
    border: 1px solid #767e9e;
    border-radius: 4px;
    padding: 0px 7px 0px 7px;
    margin: 0px 4px 0px 0px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

.tags ul li a:hover {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0px 7px 0px 7px;
    margin: 0px 4px 0px 0px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 19px;
    max-height: 615px;
}

.thumb {
    padding: 0px 0px 17px 0px;
}

.aboutus {
    height: 724px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding: 40px;
}

.aboutus_text {
    padding: 32px 14px 0px 0px;
}


.aboutus_text h1 {
    font-size: 30px;
    line-height: 16px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.005em;
    
}

.aboutus_text p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 31px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 500;
    text-align: justify;
    letter-spacing: -0.018em;
    margin: 26px 0px 46px 0px;
}

.photos {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: flex-start;
}

.photo {
    width: 302px;
    
}

.name {
    margin: 14px 0px 9px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name span {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.photo p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.01em;
}

.social {
    display: inline-flex;
    justify-content: space-between;
    width: 154px;
    margin-top: 21px;
}

.interactive:hover {
    opacity: 0.6;
  }